/* Styles for both signup and login pages */

.login_and_signup_ctn {
  background-image: url('/images/3d-rendering-abstract-building 4.png');

  @media (max-width: 768px) {
    background-image: none;
  }
}

.login_and_signup_blur_ctn {
  background: linear-gradient(129deg, rgba(0, 0, 0, 0.10) 7.98%, rgba(0, 0, 0, 0.25) 51.84%, rgba(0, 0, 0, 0.40) 95.7%);
  backdrop-filter: blur(12.5px);

  @media (max-width: 768px) {
    background: none;
  }
}